@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --background-color: #FFFEEE;
  --text-color: #FA7070;
  --contrast-color: #000000;
}

body{
  margin: 0;
  text-align: center;
  background-color: var(--background-color);
}

h1 {
  color: var(--text-color);
  text-shadow: 2px 2px var(--contrast-color);
  font-size: 72px;
  font-weight: bold;
}

h2 {
  color: var(--text-color);
  text-shadow: 2px 2px var(--contrast-color);
  font-size: 46px;
}

p {
  margin: 1%;
}

.text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 5% 15% 0% 15%;
  border-bottom: 1px solid black;
  display: inline-block;
}

.nav {
  border-bottom: 1px solid black;
  display: inline-block;
}

.header {
  margin-top: 30px;
}

.countNumber {
  font-size: 80px;
  color: var(--text-color);
  text-shadow: 2px 2px var(--contrast-color);
  margin-bottom: 100px;
  margin-top: 100px;
  font-weight: bold;
}

.ranking {
  margin-top: 2%;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
}

.footer {
  text-align: center;
  font-size: small;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.button-50 {
  appearance: button;
  background-color: var(--text-color);
  background-image: none;
  border: 1px solid var(--contrast-color);
  border-radius: 4px;
  box-shadow: var(--contrast-color) 4px 4px 0 0, var(--text-color) 4px 4px 0 1px;
  box-sizing: border-box;
  color: var(--contrast-color);
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 0px 100px 0;
  overflow: visible;
  padding: 20px 60px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: var(--contrast-color) 2px 2px 0 0, var(--contrast-color) 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}